<% provide(:title, @user.username) %>
<%= render "layouts/header"%>
<h1>
  <%= gravatar_for @user %><br/>
  <div>
    <strong>Username:</strong> <%= @user.username %>
  <div>

  <div>
    <strong>Email:</strong><%= @user.email %>
  <div>
  
</h1>